src/wsdl/im-lamport_8080/RetailerPoschinger/CreditworthinessService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.contractor.service.retailerposchinger.poschinger.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CreditworthinessServiceService" targetNamespace="http://webservice.contractor.service.retailerposchinger.poschinger.net/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.contractor.service.retailerposchinger.poschinger.net/" elementFormDefault="unqualified" targetNamespace="http://webservice.contractor.service.retailerposchinger.poschinger.net/" version="1.0">

  <xs:element name="getCreditWorthiness" type="tns:getCreditWorthiness"/>

  <xs:element name="getCreditWorthinessResponse" type="tns:getCreditWorthinessResponse"/>

  <xs:complexType name="getCreditWorthiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
      <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCreditWorthinessResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:creditWorthiness"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="creditWorthiness">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A"/>
      <xs:enumeration value="B"/>
      <xs:enumeration value="C"/>
      <xs:enumeration value="D"/>
      <xs:enumeration value="NODATA"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCreditWorthiness">
    <wsdl:part element="tns:getCreditWorthiness" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCreditWorthinessResponse">
    <wsdl:part element="tns:getCreditWorthinessResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CreditworthinessService">
    <wsdl:operation name="getCreditWorthiness">
      <wsdl:input message="tns:getCreditWorthiness" name="getCreditWorthiness">
    </wsdl:input>
      <wsdl:output message="tns:getCreditWorthinessResponse" name="getCreditWorthinessResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditworthinessServiceServiceSoapBinding" type="tns:CreditworthinessService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCreditWorthiness">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCreditWorthiness">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCreditWorthinessResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditworthinessServiceService">
    <wsdl:port binding="tns:CreditworthinessServiceServiceSoapBinding" name="CreditworthinessServicePort">
      <soap:address location="http://im-lamport:8080/RetailerPoschinger/CreditworthinessService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>