src/wsdl/172.16.34.116_8080/RetailerPoschinger/CreditworthinessServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://contractor.service.retailerposchinger.poschinger.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://contractor.service.retailerposchinger.poschinger.net/">

<xs:element name="getCreditWorthiness" type="tns:getCreditWorthiness"/>

<xs:element name="getCreditWorthinessResponse" type="tns:getCreditWorthinessResponse"/>

<xs:complexType name="getCreditWorthiness">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCreditWorthinessResponse">
<xs:sequence>
<xs:element name="return" type="tns:creditWorthiness" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="creditWorthiness">
<xs:restriction base="xs:string">
<xs:enumeration value="A"/>
<xs:enumeration value="B"/>
<xs:enumeration value="C"/>
<xs:enumeration value="D"/>
<xs:enumeration value="NODATA"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>